.folder-container {
  width: 125px;
  margin-top: 35px;
  color: #00365e;
  font-weight: 600;
  font-size: 12px;
  margin-right: 5%;
  position: relative;
}

.folder {
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.folder-name {
  cursor: text;
}

.delete-folder-position {
  position: absolute;
  right: -0.67rem;
  top: 0.4rem;
}

.type-folder-name {
  color: #00365e;
  font-weight: 600;
  font-size: 12px;
  background: transparent;
}
