.container-menu {
  padding: 30px 40px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-content: space-between;
  width: 15%;
  height: 100%;
  background: #fff;
}

.logo {
  width: 100%;
  height: 51px;
  background-image: url(./MenuImg/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 23px;
}

.user {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-photo {
  width: 110px;
  height: 150px;
  margin-bottom: 12px;
  border-radius: 101px;
  /* padding: 1rem; */
}

.user-name {
  width: 100%;
  text-align: center;
  font-weight: 700;
  color: #00365e;
}

.menu {
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  color: #00365e;
}

.menu-icon {
  height: 16px;
  width: 16px;
  margin-right: 0.3rem;
  cursor: pointer;
}

.menu-home {
  align-items: center;
  display: flex;
  margin-bottom: 18px;
  cursor: pointer;
}

.menu-folders {
  align-items: center;
  display: flex;
  margin-bottom: 18px;
  cursor: pointer;
}

.menu-calendar {
  align-items: center;
  display: flex;
  margin-bottom: 42px;
  cursor: pointer;
}

.menu-settings {
  align-items: center;
  display: flex;
  margin-bottom: 18px;
  cursor: pointer;
}

.logOut {
  width: 100%;
  display: flex;
  font-weight: 700;
  color: #00365e;
  cursor: pointer;
}
