form {
  display: flex;
  flex-wrap: wrap;
  color: #88a2b5;
}

.new-note-title {
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid rgba(0, 54, 94, 0.1);
  border-radius: 2px;
  color: #dd4343;
  padding: 0.5rem 1rem;
  color: rgba(0, 54, 94, 1);
  font-weight: 700;
}

textarea {
  width: 100%;
  margin-top: 1rem;
  border: 1px solid rgba(0, 54, 94, 0.1);
  border-radius: 2px;
  margin-bottom: 20px;
  resize: none;
  padding: 1rem;
  color: rgba(0, 54, 94, 1);
  font-weight: 700;
}

button {
  padding: 0.5rem 3rem;
  border-radius: 2px;
  margin-right: 1rem;
  background: #88a2b5;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}

.btn-add {
  background: #00365e;
}

.new-note-modal {
  position: fixed;
  z-index: 1000;
  width: 300px;
  top: 30%;
  left: 37%;
  background: #ffffff;
  backdrop-filter: blur(3px);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.09);
}

.modal-title {
  display: flex;
  justify-content: space-between;
  color: #00365e;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 20px;
}

.delete-btn svg {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.delete-btn svg:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.delete-btn svg circle:active {
  fill: #dd4343;
}
